section p, a.light {
	color: #707070;
}
#hero {
	background-color: whiteSmoke;
	background-image: -moz-linear-gradient(top, white, #E6E6E6);
	background-image: -ms-linear-gradient(top, white, #E6E6E6);
	background-image: -webkit-gradient(linear, 0 0, 0 100%, from(white), to(#E6E6E6));
	background-image: -webkit-linear-gradient(top, white, #E6E6E6);
	background-image: -o-linear-gradient(top, white, #E6E6E6);
	background-image: linear-gradient(top, white, #E6E6E6);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#e6e6e6', GradientType=0);

	margin: 5% 0 0 0;
	padding: 0 3% 3% 0;
	border-bottom: 1px solid #c0c0c0;
}
#hero .welcome {
	width: 52%;
	float: left;
	padding: 1% 3% 3% 3%;
}
#hero .welcome h1 {
	line-height: 42px;
	font-size: 34px;
	color: #404040;
	height: 3.75em;
}
#hero .welcome .button {
	box-shadow: 0 0 30px rgba(0,0,0,0.12);
}
#hero_link:hover {
	opacity: 0.8;
}
#hero img {
	border: none;
	width: 48%;
	box-shadow: 5px 5px 10px rgba(0,0,0,0.12);
}
.intro {
	border-bottom: 1px solid #c8c8c8;
}
.intro section {
	float: left;
	width: 33%;
	padding: 0 3% 1%;
}
.intro section:first-child {
	padding-left: 0;
}
.intro section:nth-child(2) {
	border-left: 1px solid #c8c8c8;
	border-right: 1px solid #c8c8c8;
}
.intro section h4 {
	font-size: 20px;
	margin-bottom: 0.4em;
}
h2 {
	border-radius: 3px;
	background: #606060;
	color: white;
	padding: 0.5em 0.75em 0.67em;
}
h2 a {
	color: white;
}
h2 a:hover {
	color: white;
}
section.topic-2,
section.topic-3 {
	display: table; 
	table-layout: fixed;
	border-top: 1px solid #dedede;
	margin-top: 2%;
	width: 100%;
}
h2 + section.topic-2,
h2 + section.topic-3 {
	border: none;
}
section.topic-2 .example,
section.topic-3 .example {
	padding-top: 2%;
	padding-right: 2%;
	vertical-align: top;
	display: table-cell;
}
section.topic-2 .example iframe,
section.topic-3 .example iframe {
	position: relative;
	left: -5px;
	width: 100%;
	border: none;
	margin: 0;
	overflow: hidden;
	padding: 0;
}
section.topic-2 .code,
section.topic-3 .code {
	padding-top: 2%;
	vertical-align: top;
	display: table-cell;
}
section.topic-2 .example {
	width: 33%
}
section.topic-2 .code {
	width: 67%;
}
section.topic-3 .example {
	width: 33%;
}
section .example iframe {
	height: 110px;
}
section.topic-3 .code,
section.topic-2 .code {
	background: #f0f0f0;
}
section.topic-3 .call {
	padding-top: 2%;
	display: table-cell;
	width: 18%;
	text-align: center;
	vertical-align: middle;
}
section h3 {
	color: #585858;
	margin: 0 0 0.4em 0;
}
section.topic-2 .documentation {
	display: table-cell;
	width: 67%;
}
section.topic-2 .documentation pre {
	font-family: 'Bitstream Vera Sans Mono','Courier',monospace;
	padding: 1em;
	background-color: #f0f0f0;
	margin-bottom: 1.4em;
}
.sources h5 {
	font-size: 14px;
	margin: 1.4em 0 0.4em 0;
	color: #505050;
}
.sources ul {
	list-style: none;
	padding: 0;
	margin: 0 0 2em 0;
}
.sources li a {
	color: #c0c0c0;
}
.button.standalone {
	padding-left: 1.6em;
	margin-top: 1em;
	display: inline-block;
	border-bottom: 1px solid #ccc;
	padding-top: 2px;
	padding-bottom: 2px;
}
.button.standalone:before {
	left: -0.8em;
	position: relative;
	content: "D";
	width: 3px;
	height: 3px;
	font-family: WebSymbolsRegular;
}
.gist .line-numbers {
	display: none;
}
.gist-meta {
	display: none;
}
.gist .gist-file .gist-data {
	background-color: #f0f0f0 !important;
	padding-left: 1em !important;
	border: none !important;
}
.gist .gist-file {
	border: none !important;
}
footer {
	display: block;
	border-top: 1px solid #e0e0e0;
	margin-top: 3em;
}
#resources h5 {
	font-size: 20px;
	margin: 0;
}
#resources .preview {
	float: left;
	min-height: 2em;
	width: 130px;
	font-size: 16px;
	border: 1px solid #e8e8e8;
	margin-right: 1.2em;
	padding: 3px;
}
#resources .preview img {
	width: 120px;
}
#resources .preview.group img {
	width: 55px;
}
#resources section {
	border-top: 1px solid #e0e0e0;
	padding: 1.8em 0;
	float: right;
	width: 67%;
}
#resources-graphic:before {
	content: "F";
	font-family: WebSymbolsRegular;
	font-size: 80px;
	color: #d0d0d0;
	float: left;
	position: relative;
	top: 50px;
	left: 10px;
}
#hero img {
	box-shadow: none;
	position: relative;
	top: 30px;
}
#hero .welcome h1 {
	font-size: 32px;
	height: 4em;
}
#examples_block_link {
	display: block;
}
#examples_block_link .preview {
	border: none;
}
