/* rangeSelector */

.rickshaw_range_selector{
    outline:1px solid #eee;
    background: rgba(255,255,255,0.3);
    position:absolute;
    top:0;
    z-index:1;
    cursor:pointer;
    pointer-events:none;
}

.rickshaw_graph:active,
.rickshaw_graph:focus,
.rickshaw_graph *:active,
.rickshaw_graph *:focus{
    cursor:crosshair !important;
}